{
    "rules": {
        "indent": [
            0,
            "tab"
        ],
        "quotes": [
            0,
            "single"
        ],
        "linebreak-style": [
            1,
            "windows"
        ],
        "semi": [
            1,
            "never"
        ]
    },
    "env": {
        "browser": false,
        "node": true
    },
    "extends": "eslint:recommended"
}